/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #042a54;
  color: #fafafa;
  font-family: 'Lemonada', cursive;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.6;
  margin-left: 1.2em;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  -webkit-box-shadow: 5px 5px 5px #fafafa;
          box-shadow: 5px 5px 5px #fafafa;
  width: 99%;
}

.beer-list li {
  margin: 0 auto;
  list-style: none;
}

.beer-list button {
  border: 1px solid #233f5c;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
  background-color: #074c97;
  color: #fafafa;
  width: 40%;
  margin: 0.3em;
  padding: 20px;
}

.beer-list button:hover,
.beer-list button:focus {
  cursor: pointer;
  opacity: 85%;
}

.is-hidden {
  display: none;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.modal {
  margin: auto;
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  background: #9bd4d5;
  padding: 15px;
  width: 100%;
  max-width: 900px;
}

.modal div {
  margin-left: 40px;
  background: #079497;
  -webkit-box-shadow: 5px 5px 5px #fafafa;
          box-shadow: 5px 5px 5px #fafafa;
  font-size: 0.9em;
  text-align: left;
  padding: 0.8em;
  width: 50%;
}

.modal h1 {
  color: #042a54;
  -webkit-box-shadow: 5px 5px 5px #042a54;
          box-shadow: 5px 5px 5px #042a54;
}

.modal h3 {
  color: #042a54;
  font-size: 1.1em;
  text-align: center;
}

.beer-details {
  font-size: 1em;
  font-weight: 500;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #042a54;
  text-decoration: underline;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  text-decoration: none;
}

.modal img {
  float: right;
  margin: 100px;
  max-width: 100px;
}

.description {
  font-size: 1.2em;
  text-decoration: underline;
}

#contribution {
    font-size: 0.6em;
}

@media all and (min-width: 800px) and (max-width: 1300px) {
  .modal {
    text-align: center;
    font-size: 0.8em;
  }

  .modal img {
    float: none;
    display: inline;
  }

  .modal div {
    width: 86%;
    margin: 0 auto;
  }

  .modal img {
    margin: 0 auto;
  }
}

@media all and (max-width: 800px) {

  .beer-list li {
    text-align: center;
    margin-left: -4em;
  }

  .beer-list button {
    width: 85%;
  }

  #modal-container.is-visible {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 1.5em;
  }

  .modal {
    grid-column: auto / auto;
    text-align: center;
    font-size: 0.8em;
  }

  .modal img {
    float: none;
    display: inline;
    margin: 0 auto;
  }

  .modal div {
    width: 86%;
    margin: 0 auto;
  }
}
